{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<h1></h1>
<main>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Альметьевск: город будущего в Татарстане</h1>
            <p class="lead text-body-secondary">Альметьевск — это современный и динамично развивающийся город, уютно расположившийся на востоке Татарстана, в России, на живописных берегах реки Степной Зай. Он известен прежде всего как важный центр нефтяной промышленности страны, что придает ему особый ритм и характер. Здесь удивительным образом сочетаются индустриальные пейзажи и ухоженные зеленые парки, современные архитектурные решения и сохранившиеся уголки с исторической застройкой .</p>
        </div>
    </div>
</section>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <svg>
                        <text x="60%" y="80%" fill="#eceeef" dy=".3em">Памятник нефти</text>
                        <rect width="100%" height="100%"  >
                        </rect>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Скульптура,установленна в честь добычи трехмиллиардной тонны нефти в Татарстане,олицетворяющая творческий и производственный потенциал республики. </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="15%" y="80%" fill="#eceeef" dy=".3em">Соборная мечеть имени Ризы Фахретдина</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Сегодня здание религиозно-просветительского центра имени Ризы Фахретдина — важная точка притяжения в городе, ставшая мостом между его религиозной и культурной жизнью.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="65%" y="80%" fill="#eceeef" dy=".3em">Парк «Саулык»</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Парк «Саулык» (в переводе с татарского — «Здоровье») в западной части Альметьевска — популярное место для отдыха и оздоровления.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">

                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="60%" y="80%" fill="#eceeef" dy=".3em">Городской пляж </text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Белоснежный песок и чистая вода создают атмосферу курортного отдыха, а для спортивных гостей работают скалодром, веревочный парк и площадки для пляжного волейбола.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="65%" y="80%" fill="#eceeef" dy=".3em">Сквер Каракуз</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Это место сочетает элементы природы, культуры и урбанистики, став одним из культурных центров города.Каракуз является  всеми любимым альметьевцами место для прогулок, фотосессий и встреч на свежем воздухе. </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="65%" y="80%" fill="#eceeef" dy=".3em">Каскад прудов</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text"> Здесь можно насладиться прогулками по благоустроенным пешеходным дорожкам, покататься на велосипеде или самокате по специально оборудованным велодорожкам. Для детей предусмотрена современная игровая площадка с безопасным современным покрытием и игровыми комплексами из натуральных материалов. </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="67%" y="80%" fill="#eceeef" dy=".3em">Альметрика</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text"> Это интерактивный научно-познавательный центр,предлагающий инновационные подходы к изучению естественных наук, делая обучение захватывающим и увлекательным. </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="5%" y="80%" fill="#eceeef" dy=".3em">Городской парк имени 60-летия нефти Татарстана</text>
                    </svg> <div class="card-body">
                    <p class="card-text">  Этот живописный парк,символизирующий тесную связь города с нефтяной промышленностью, был создан в честь значимого юбилея и стал любимым местом отдыха для жителей и гостей Альметьевска.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">

                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col">
                <div class="card shadow-sm">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="5%" y="80%" fill="#eceeef" dy=".3em">Казанский кафедральный собор в Альметьевске</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Является одним из крупнейших храмов региона. Он впечатляет своей архитектурой и значимостью для города. Особенность собора — его звонница, состоящая из 11 колоколов, самый крупный из которых весит 1350 кг.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}

