/* Header   */

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header__img {
    background-image:
    height: 64px;
    width: 64px;
}

.lol__img{

    height: 150px;
    width: 400px;
}




body {
    background: white;
 }

/*posts*/
